body{
  padding: 10px;
}

#map{
  height:400px;
}


/*
  Checkbox overrides
*/
input:checked+#onNetworkSwitch{
  background-color:#f58233;
}

input:checked+#offNetworkSwitch{
  background-color:#005d77;
}
