body{
  padding: 10px;
}

#map{
  height:400px;
}


/*
  Checkbox overrides
*/
input:checked+.onNetworkSwitch{
  background-color:#f58233;
}

div.onNetworkSwitch {
  color:#f58233;
}

input:checked+.offNetworkSwitch{
  background-color:#005d77;
}

div.offNetworkSwitch {
  color:#005d77;
}

input:checked+.opp_switch{
  background-color:#696571;
}

div.opp_switch{
  color:#696571;
}
